<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="">
                            <p></p>
                            <img src="" alt="">
                            <p></p>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <label for="name">Nome Completo</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="confirmEmail">Confirme seu E-mail</label>
                                    <input type="email" class="form-control" id="confirmEmail">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="cel">Celular</label>
                                        <input type="text" class="form-control" id="cel">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="otherCel">Outro Telefone</label>
                                        <input type="text" class="form-control" id="otherCel">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-4 col-md-6">
                                        <label for="cpf">CPF</label>
                                        <input type="text" class="form-control" id="cpf">
                                    </div>
                                    <div class="form-group col-4 col-md-3">
                                        <label for="birthDate ">Data nasc.</label>
                                        <input type="text" class="form-control" id="birthDate">
                                    </div>
                                    <div class="form-group col-4 col-md-3">
                                        <label for="genre">Sexo</label>
                                        <select id="genre" class="form-control">
                                            <option selected>Escolha...</option>
                                            <option>Masculino</option>
                                            <option>Feminino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-3">
                                        <div class="form-group col-4 col-md-6">
                                            <label for="cep">CEP</label>
                                            <input type="text" class="form-control" id="cep">
                                        </div>
                                    </div>
                                    <div class="form-group col-4 col-6">
                                        <div class="form-group col-md-6">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control" id="address">
                                        </div>
                                    </div>
                                    <div class="form-group col-4 col-md-3">
                                        <div class="form-group col-6">
                                            <label for="number">Numero</label>
                                            <input type="text" class="form-control" id="number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="complement">Complemento</label>
                                    <input type="text" class="form-control" id="complement">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <div class="form-group col-6">
                                            <label for="neighborhood">Bairro</label>
                                            <input type="text" class="form-control" id="neighborhood">
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="form-group col-6">
                                            <label for="city">Cidade</label>
                                            <input type="text" class="form-control" id="city">
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <div class="form-group col-6">
                                            <label for="state">Estado</label>
                                            <input type="text" class="form-control" id="state">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="acceptTerms">
                                        <label class="form-check-label" for="acceptTerms">
                                            Eu aceito
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>