@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

:root {
  --main-fundep: #0f2850;
  --fundep-mid-blue: #3fc5f0;
  --fundep-grey: #343a40;
}

body{
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
}

p{
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5{
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

@media(max-width:768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 17px;
  }
}

/* h1, h2, h3{
  color: #0F2850;
} */
.blue-text-fundep{
  color: var(--fundep-mid-blue)
}
/* BREAKPOINTS */
.max-1440 {
  max-width: 1440px;
}
.max-1280 {
  max-width: 1280px;
}

/* HEADER */

.nav-link{
  transition: all 0.2s;
}
.bg-fundep {
  /* background: var(--main-fundep); */
  background-color: var(--main-fundep);
  background-image: url(/assets/img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding-top: 17em;
}

.btn-blue {
  background-color: var(--fundep-mid-blue);
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.bg-main {
  background-color: var(--main-fundep);
  background: var(--main-fundep);
}

.top-bar {
  max-width: 1440px;
}
.top-bar-2 {
  max-width: 1500px;
}
.top-bar {
  border-bottom: 2px solid white;
}
.top-bar ul li a {
  font-size: 0.8em;
  text-transform: uppercase;
}
.top-bar- a:hover{
 opacity: 0.7;
}

.navbar-brand {
  margin-top: -24px;
}

.navbar-sticky {
  position: absolute;
  width: 100%;
  display: block;
}

.navbar-sticky--mobile {
  position: absolute;
  display: none;
  width: 100%;
}

.navbar__mobile__ex {
  background: transparent;
}

@media (max-width: 991px) 
{
  .navbar-sticky {
    display:none;
  }

  .navbar-sticky--mobile {
    display: block;
  }
}

/* SEARCH INPUT */

.has-search-right {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 0;
}

.has-search-right form{
  width: 100%;
}

.has-search-right .form-control {
  padding-right: 2.375rem;
  background: transparent;
  border: 2px solid white;
  color: white;
  height: 55px;
}
.has-search-right .form-control:focus{
  background: transparent;
  color: white;
}
.has-search-right .form-control::placeholder {
  color: white;
  opacity: 0.8;
}

.has-search-right .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 3.375rem;
  height: 3.375rem;
  line-height: 3.375rem;
  text-align: center;
  color: #aaa;
}
.has-search-right .form-control-feedback span {
  color: white;
}

.btn-fundep {
  background: var(--fundep-mid-blue);
  color: white;
  font-weight: 600;
  transition: all 0.2s;
  font-size: 1rem;
}
.btn-fundep-2 {
  background: var(--main-fundep);
  color: white;
  font-weight: 600;
  transition: all 0.2s;
  border: 2px solid var(--main-fundep);

}

.btn-fundep-outline{
  background: transparent;
  color: white;
  font-weight: 600;
  transition: all 0.2s;
  border: 2px solid white;
  padding: .5em 1em;
}

.btn-fundep-outline:hover{
  background: white;
  color: var(--main-fundep);

}


.btn-fundep-2:hover{
background: white;
color: var(--main-fundep);
}

.btn-fundep:hover{
  color: white;
  background: #287a94;
}

.login-submit{
  width: 200px !important;
  text-transform: uppercase;
}

.top-bar-2 ul li a {
  text-transform: uppercase;
  /* color: white !important; */
  font-weight: 600;
}

ul.navbar-nav.top-bar- li:first-child {
  padding-right: 37px;
}

#main .main-header {
  padding: 185px 0;
  color: white;
}
.main-header-inner {
  padding: 14em 0 3em 0;
  color: white;
  background: var(--main-fundep);
}
.cards-flex {
  margin-top: -100px;
}

.fundep-card {
  background-image: linear-gradient(
    to right bottom,
    #0f2850,
    #0c2346,
    #0a1f3d,
    #081a33,
    #07152a
  );
  min-height: 211px;
  color: white;
  border: none;
  -webkit-box-shadow: 9px 9px 31px -6px rgba(15, 40, 80, 1);
  -moz-box-shadow: 9px 9px 31px -6px rgba(15, 40, 80, 1);
  box-shadow: 9px 9px 31px -6px rgba(15, 40, 80, 1);
  transition: all 0.2s;
}

@media(max-width: 768px) {
  .fundep-card .fundep-card__img__avatar {
    max-width: 50px;
  }

  .fundep-card .fundep-card__img__arrow {
    max-width: 25px;
  }
}

.fundep-card:hover {
  transform: translateY(-7px);
}

.fundep-card .card-title {
  
}

h1.hero-title:after {
  content: "";
  width: 3.5em;
  height: 3.5em;
  background: #004085;
  color: white;
  /* z-index: 9999; */
  position: absolute;
  border-radius: 100%;
  top: 0px;
  left: 0;
  opacity: 0.1;
}

.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  border-radius: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background: rgb(7, 22, 45);
  background: linear-gradient( 0deg, rgba(7, 22, 45, 1) 0%, rgba(7, 22, 45, 0.5) 65% );
}

.clear-content {
  transition: all 0.2s;
}

.card-img-overlay:hover > .clear-content {
  transform: translateY(-10px);
}

.top-3 {
  margin: 5em auto;
}

.card-promo {
  border-radius: 10px;
}

.wd-300 {
  width: 300px !important;
}
/* 
  .nav-link.active:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  color: #6c757d;
  background: #6c757d;
  bottom: -4px;
  left: 50%;
  transform: rotate(45deg);
} */
.btn-group button {
  margin-right: 10px;
  border-radius: 10px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--main-fundep);
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
  padding: 15px;
  color: var(--main-fundep);
  font-weight: 500;
  transition: all 0.2s;
}

.card-deck > .card {
  border: none !important;
  transition: all 0.2s;
}
.card-deck > .card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-deck .card .card-title {
  border-bottom: 1px solid #e8e6e6;
  padding-bottom: 16px;
}
.card-deck .card .card-text .text-muted {
  color: var(--fundep-mid-blue) !important;
  font-weight: 700;
}
.card-deck .card .card-url {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.filter-bar .custom-select {
  border: none;
  box-shadow: 0.4em 0.3rem 1.1rem rgba(0, 0, 0, 0.15) !important;
  font-weight: 600;
  font-size: 16px;
}

.card .cae-type {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
  padding: 5px 19px;
  border-radius: 30px;
  background: var(--fundep-mid-blue);
}
.card .class-badge {
  position: absolute;
  top: 5%;
  right: 2%;
  color: white;
  padding: 5px 19px;
  border-radius: 30px;
  background: var(--fundep-mid-blue);
}
.closed{
  background: #888888 !important;
}
.card-class{
  transition: all 0.2s;
  border-radius: 5px;
  margin: 0.4em 0;
}
.card-class:hover {
  border: 1px solid transparent;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  cursor: pointer;
}

/* SLICK SLIDER */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}



.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slider img {
  padding: 0 20px 0 20px;
}

/* NEWS LETTER */

.newsletter {
  min-height: 300px;
  box-shadow: 0.4em 0.3rem 1.1rem rgba(0, 0, 0, 0.15) !important;
  border: none;
  margin: auto 10%;
}

.newsletter input {
  border: 1px solid #f1f1f1;
  /* box-shadow: .4em 0.3rem 1.1rem rgba(0,0,0,.15)!important; */
  height: 55px;
  border-radius: 10px 0px 0 10px;
}

.newsletter button {
  width: 70px;
}

.newsletter-container {
  align-items: center;
}

/* SOCIAL ICONS */

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons img {
  padding: 0 20px 0 0;
}


footer h6{
  text-transform: uppercase;
  font-size: 14px;
}

footer .list-group-item {

    background-color: transparent;
    border: none;
    padding: .55rem 0rem;
    font-style: italic;
}

.contacts{
  /* width: 100%; */
    border: 1px solid #dee2e6 !important;
    border-radius: 10px;
    padding: 1.4em;
}


#login-form a, #forgot-form a{
  color: var(--fundep-grey);
  font-weight: 400;
 transition: all 0.2s;
}
#login-form a:hover, #forgot-form a:hover{
  color: #888 !important;
  text-decoration: none;
}

#login .modal-header p {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}
#login .modal-body{
  padding: .9rem;
  padding-bottom: 0;
}
#login .modal-body form#login-form, #forgot-form{
  padding: 2em;
}


form#login-form input, #forgot-form input {
  /* border-bottom: 2px solid #a1a1a1 !important; */
  border: none;
  /* box-shadow: 0.4em 0.3rem 1.1rem rgba(0, 0, 0, 0.15) !important; */
  border-radius: 0;
  background: #f9f9f9;
  transition: all 0.2s;
}

form#login-form .form-control:focus, #forgot-form .form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0.4em 0.3rem 1.1rem rgba(2, 0, 109, 0.1);
  border-bottom: 2px solid #a1a1a1 !important;
}

.contacts h3 {
  font-weight: 700;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px){
  .contacts{
    text-align: center;
  }
  .contacts .border-right{
    border: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .slick-track {
    display: flex;
    /* justify-content: space-evenly;
    width: 100% !important; */
  }
}


.bg-video{
  padding: 3em;
  background: url(../img/bg-video.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
}

.video-cta p{
 max-width: 250px;
}

.video-overlay{
  transition: all 0.2s;
}
.video-overlay:hover{
  transform: translateY(-7px);
}

.active{
  transition: all 0.2s;
}

/* CAEs */

.cae-filters{
  background: #F8F8F8;
  border-radius: 10px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  padding: 3em 0 2em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cae-filters .form-inline{
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  background: transparent;
}

.cae-filters .btn-fundep{
  width: 180px;
}

.cae-filters input{
  border: none;
}

.custom-input-cae input {
  border: none;
  /* box-shadow: 0.4em 0.3rem 1.1rem rgba(0, 0, 0, 0.15) !important; */
  border-radius: 0;
  background: #ffffff;
  transition: all 0.2s;
  border-radius: 5px;
  /* border: 2px solid #888; */
}
  
.form-control:focus{
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0.4em 0.3rem 1.1rem rgba(2, 0, 109, 0.1);
  /* border-bottom: 2px solid #a1a1a1 !important; */
  border: 2px solid #d3d9df;
}

button.btn.dropdown-toggle.btn-light {
  background: white;
}


/* PAGINATION */
.pagination .page-link{
color:#081a33;
transition: all 0.2s;
}
.pagination .page-item.active .page-link{
  background: var(--main-fundep);
  background-color: var(--main-fundep);
  border-color: var(--main-fundep);
  color: white;
  font-weight: 600;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  font-size: 10px;
  color: #3fc5f0;
}

.subheader-title{
  color:#4F6093;
}

.date-range input{
  background: white;
  border: none;
}

.date-range input:focus{
  box-shadow: none;
  border: none;
}
.date-range span{
  background: white;
  border: none;
  border-radius: none;
}

.dropdown.bootstrap-select.show-tick {
  width: 100% !important;
}

.divisor{
  color: #234078;
  background: #234078;
  border: 1px solid #234078;
  border-radius: 10px;
  opacity: 0.9;
  margin: 3em 0;
}

.sticky{
  position: sticky;
  top: 30px;
}

.rounded-max{
  border-radius: 100%;

}

.border-l{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-left: 4px solid var(--fundep-mid-blue) !Important;
}

.border-none-shadow{
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}

.bg-gray{
  background: #F8F8F8;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.usr-menu .dropdown-menu{
  color: #171717
}

.navbar-nav .usr-menu a{
  text-transform: none !important;
  padding-right: none !important;
}
.navbar-nav .usr-menu #navbarDropdown{
  background: rgba(255, 255, 255, 0.41);
  border-radius: 5px;
  color: white !important;
}
.navbar-nav .usr-menu .dropdown-menu-right {
  right: 35px;
  left: auto;
  top: 59px;
}


.navbar-nav .usr-menu .dropdown-menu-right:after {
  content: "";
  top: -9px;
  right: 16px;
  color: white;
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 3px;
}


ading {
  text-transform: uppercase;
  color: var(--fundep-mid-blue);
  font-weight: normal
}

#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

.form-card {
  text-align: left
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform input,
#msform textarea,
#msform select {
  border: 1px solid #f1f1f1;
  /* box-shadow: .4em 0.3rem 1.1rem rgba(0,0,0,.15)!important; */
  height: 55px;
  border-radius: 5px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--fundep-mid-blue);
  outline-width: 0
}

#msform .action-button {
  width: 160px;
  background: var(--fundep-mid-blue);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: var(--fundep-mid-blue)
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 24px 5px 10px 0px;
  float: right;
  transition: all 0.2s;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000
}

.link__white {
  color: white;
}

.link__white:hover {
  text-decoration: none;
  color: white;
}

.card {
  z-index: 0;
  border: none;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}

.purple-text {
  color: var(--main-fundep);
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

.fieldlabels {
  color: var(--fundep-mid-blue);
  text-align: left;
  font-weight:600;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: var(--fundep-mid-blue)
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #3EDE8C
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: var(--main-fundep)
}

.fit-image {
  width: 100%;
  object-fit: cover
}

.fieldlabels{
  padding-top: 1em;
}


.middle {
  width: 100%;
  text-align: center;
  /* Made by */
}
.middle h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: var(--fundep-mid-blue);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1) !important;
  border: none;

}

.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(60px);
}
.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  width: 200px;
  height: 150px;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  position: relative;
  border: 2px dashed #a1a1a1;
  margin: 3px;
  border-radius: 5px;

}
.middle .box:active {
  transform: translateY(10px);

}
.middle .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #888;
}

.middle p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}


.user-profile h5{
  color: var(--fundep-mid-blue);
  font-weight: 600;
}

.content{
  float: right;
  color: var(--fundep-mid-blue);
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.location-input{
  position: absolute;
  top: 4.2em;
  right: 2em;
  color: gray;
  background: white;
  height: fit-content;
  transition: all 0.2s;
}

#endereco-completo:focus + .location-input{
  opacity: 0;
}

/* Accordeon */
.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  float: right; 
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067"; 
}

/* Navtab */
.navtab__ex .nav-item {
  font-weight: 600;
  border: 0;
  color: var(--main-fundep);
  font-size: 16px;
}

.navtab__ex .nav-item.active {
	font-weight: 600;
	border-bottom: 4px solid var(--main-fundep);
	color: var(--main-fundep);
  }

/* Menu  */
.overlay__menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(1,23,58, 0.9);
  overflow-x: hidden;
  transition: 0.3s ease-out;
}

.overlay__menu__content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay__menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 34px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay__menu a:hover, .overlay__menu a:focus {
  color: #f1f1f1;
}

.overlay__menu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .overlay__menu a {font-size: 25px}
  .overlay__menu .closebtn {
  font-size: 55px;
  top: 15px;
  right: 35px;
  }
}

.menu__icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu__icon div {
  width: 35px;
  height: 1px;
  background: white;
  border-radius: 10px;
  margin-top: 11px;
}

/* Navbar */

.navbar__top {

}

.navbar__bottom .logo__brand {
  max-width: 130px;
}

.navbar__bottom {
  position: relative;
  border-top: 1px solid white;
}