	<section class="banner banner--home">
		<div class="container">
			<div class="row banner__translate--y">
				<div class="col-12 col-lg-7 mb-2">
					<h1 class="banner__title--home" data-revel="animated fadeInDown">Quer mais vantagens
						<br>e economia para a sua vida?</h1>
					<h2 class="banner__subtitle--home" data-revel="animated fadeInDown delay-1s">Com a Lidery você pode economizar R$6 mil reais por ano!</h2>
					<h2 class="banner__subtitle--home" data-revel="animated fadeInDown delay-1s">Tenha acesso a promoções exclusivas em várias lojas!</h2>
				</div>
				<div class="col-12 mt-3 mt-lg-0" data-revel="animated fadeInDown delay-2s">
					<a class="btn btn--lg btn--blue" href="javascript:void(0);">Quero conhecer mais</a>
				</div>

			</div>
		</div>
	</section>

	<section class="video">
		<div class="container">
			<div class="col-12">
				<div class="video__preview">
					<img class="img-fluid" src="https://via.placeholder.com/700x300" alt="">
				</div>
				<video autoplay muted class="video__frame">
					<source src="videos/bg.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</section>

	<section class="benefits">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="benefits__title">Aproveite todos os benefícios de ser Lidery!</h2>
				</div>
				<div class="col-12 col-lg-4" data-revel="animated zoomIn">
					<div class="card card__benefits">
						<img class="card-img-top" src="../img/icons/ic-vantagens.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title underline--purple">Clube de Vantagens</h5>
							<p class="card-text"> Até 60% de descontos em lojas exlusivas!</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" data-revel="animated zoomIn delay-0-5s">
					<div class="card card__benefits">
						<img class="card-img-top" src="../img/icons/ic-seguro.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title underline--blue">Clube de Vantagens</h5>
							<p class="card-text"> Até 60% de descontos em lojas exlusivas!</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4" data-revel="animated zoomIn delay-1s">
					<div class="card card__benefits shadow">
						<img class="card-img-top" src="../img/icons/ic-sorte.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title underline--green">Clube de Vantagens</h5>
							<p class="card-text"> Até 60% de descontos em lojas exlusivas!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="benefits__numbers">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6 col-lg-3" data-revel="animated fadeInLeft">
					<div class="card card__numbers">
						<div class="card__numbers__icon">
							<img src="../img/icons/ic-stores.svg" alt="">
						</div>
						<div class="card__numbers__title">
							<span>300</span>
						</div>
						<div class="card__numbers__subtitle">
							<p>Lojas credenciadas</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3" data-revel="animated fadeInLeft delay-0-5s">
					<div class="card card__numbers">
						<div class="card__numbers__icon">
							<img src="../img/icons/ic-hand.svg" alt="">
						</div>
						<div class="card__numbers__title">
							<span>
								<span class="card__numbers__title--small">Até</span> 60%</span>
						</div>
						<div class="card__numbers__subtitle">
							<p>de descontos exclusivos</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3" data-revel="animated fadeInLeft delay-1s">
					<div class="card card__numbers">
						<div class="card__numbers__icon">
							<img src="../img/icons/ic-product.svg" alt="">
						</div>
						<div class="card__numbers__title">
							<span>12</span>
						</div>
						<div class="card__numbers__subtitle">
							<p>Categoria de produtos</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3" data-revel="animated fadeInLeft delay-1-5s">
					<div class="card card__numbers">
						<div class="card__numbers__icon">
							<img src="../img/icons/ic-country.svg" alt="">
						</div>
						<div class="card__numbers__title">
							<span>7</span>
						</div>
						<div class="card__numbers__subtitle">
							<p>Países da América Latina</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="discount">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto">
					<h2 class="discount__title">Compre com desconto nas melhores lojas do mercado</h2>
					<h3 class="discount__subtitle">Com o Clube de Vantagens
						<span class="open-bold">Lidery</span>, você tem acesso a promoções exclusivas. Conheça algumas lojas parceiras para comprar tudo o que você
						precisa com desconto!</h3>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/burguer-king.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Promoção</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/casas-bahia.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>40%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/apple.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>20%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/fast.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Promoção</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/extra.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>40%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/magazineluiza.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Promoção</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/netshoes.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>15%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/bilheteria.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>60%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/centauro.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>20%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/britania.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>30%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/mondial.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>30%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/sony.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>30%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/nespresso.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>20%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/vivara.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>20%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/saraiva.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>10%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3">
					<div class="card card__store">
						<div class="card__store__image">
							<img class="img-fluid" src="../img/stores/subway.png" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text card__store__title"> Até
								<span>10%</span> de desconto</p>
						</div>
					</div>
				</div>
				<div class="col-12 text-center mt-4 mt-lg-5">
					<a class="btn btn--lg btn--blue" href="javascript:void(0);">Quero ter as vantagens lidery</a>
				</div>

			</div>
		</div>
	</section>

	<section class="join">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto" data-revel="animated fadeInDown">
					<h3 class="join__subtitle" >Faça parte</h3>
					<h2 class="join__title">Confira como é simples e prático!</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 text-center mb-4 px-5" data-revel="animated zoomInDown">
					<img src="../img/icons/ic-join-1.png" alt="">
					<h2 class="join__title mb-3">Associe-se</h2>
					<h3 class="join__description">Faça seu cadastro em nosso site. É rápido e seguro!</h3>
				</div>
				<div class="col-lg-4 text-center mb-4 px-5" data-revel="animated zoomInDown delay-0-5s">
					<img src="../img/icons/ic-join-2.png" alt="">
					<h2 class="join__title mb-3">Pague</h2>
					<h3 class="join__description">Realize seu pagamento com cartão de crédito e aguarde a aprovação.</h3>
				</div>
				<div class="col-lg-4 text-center mb-4 px-5" data-revel="animated zoomInDown delay-1s">
					<img src="../img/icons/ic-join-3.png" alt="">
					<h2 class="join__title mb-3">Aproveite</h2>
					<h3 class="join__description">Comece a utilizar os benefícios e aproveite todas as vantagens de ser
						<span class="open-bold">Lidery</span>!</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="join__mkt">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto">
					<h2 class="join__mkt__title">TENHA TODOS OS BENEFÍCIOS</h2>
					<h2 class="join__mkt__title">POR APENAS R$9,90 MENSAL</h2>
					<h3 class="join__mkt__description">+ TAXA DE ADESÃO DE R$14,90</h3>
					<a class="btn btn--lg btn--blue mt-4 mt-lg-5" href="javascript:void(0);">Quero me associar agora</a>
				</div>
			</div>
		</div>
	</section>

	<section class="depoiments">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto" data-revel="animated fadeInDown">
					<h3 class="depoiments__subtitle">Depoimentos</h3>
					<h2 class="depoiments__title">São muitas pessoas satisfeitas!</h2>
					<h3 class="depoiments__description">Quem usa, recomenda! Confira o que os nossos associados dizem sobre a
						<span class="open-bold">Lidery</span>!</h3>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 m-auto">
					<div class="d-none d-md-block">
						<swiper>
							<slides>
								<slide>
									<div class="row px-80">
										<div class="col-6">
											<div class="card card__depoiment">
												<img class="card-img-top" src="../img/icons/sr-osvaldo.png" alt="Card image cap">
												<div class="card-body">
													<p class="card__depoiment__title">Tenho o costume de usar sempre o cartão da Lidery para economizar nas viagens que faço com minha família. Faço
														a pesquisa das promoções pelo celular e vamos nos lugares mais próximos do hotel. Minha esposa já usa mais
														quando quer comprar alguma roupa. Então, gosto bastante dos benefícios porque acabo gastando menos do que eu
														imaginava.
													</p>
													<p class="card__depoiment__bold">Sr. Osvaldo</p>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="card card__depoiment">
												<img class="card-img-top" src="../img/icons/amanda.png" alt="Card image cap">
												<div class="card-body">
													<p class="card__depoiment__title">O valor que eu pago no para ter acesso ao Clube de Vantagens, compensa muito os gastos que eu tenho no mês.
														Tenho uma economia de pelo menos 25% no meu orçamento com a alimentação fora de casa. Fiquei surpresa com o
														tanto de promoções que tenho acesso, uso sempre que preciso.</p>
													<p class="card__depoiment__bold">Amanda</p>
												</div>
											</div>
										</div>
									</div>
								</slide>
								<slide>
									<div class="row px-80">
										<div class="col-6">
											<div class="card card__depoiment">
												<img class="card-img-top" src="../img/icons/sr-osvaldo.png" alt="Card image cap">
												<div class="card-body">
													<p class="card__depoiment__title">Tenho o costume de usar sempre o cartão da Lidery para economizar nas viagens que faço com minha família. Faço
														a pesquisa das promoções pelo celular e vamos nos lugares mais próximos do hotel. Minha esposa já usa mais
														quando quer comprar alguma roupa. Então, gosto bastante dos benefícios porque acabo gastando menos do que eu
														imaginava.
													</p>
													<p class="card__depoiment__bold">Sr. Osvaldo</p>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="card card__depoiment">
												<img class="card-img-top" src="../img/icons/amanda.png" alt="Card image cap">
												<div class="card-body">
													<p class="card__depoiment__title">O valor que eu pago no para ter acesso ao Clube de Vantagens, compensa muito os gastos que eu tenho no mês.
														Tenho uma economia de pelo menos 25% no meu orçamento com a alimentação fora de casa. Fiquei surpresa com o
														tanto de promoções que tenho acesso, uso sempre que preciso.</p>
													<p class="card__depoiment__bold">Amanda</p>
												</div>
											</div>
										</div>
									</div>
								</slide>
							</slides>
							<prev></prev>
							<next></next>
							<pagination></pagination>
						</swiper>
					</div>
					<div class="d-block d-md-none">
						<swiper>
							<slides>
								<slide>
									<div class="row px-3">
										<div class="col-12">
											<div class="card card__depoiment">
												<img class="card-img-top" src="../img/icons/sr-osvaldo.png" alt="Card image cap">
												<div class="card-body">
													<p class="card__depoiment__title">Tenho o costume de usar sempre o cartão da Lidery para economizar nas viagens que faço com minha família. Faço
														a pesquisa das promoções pelo celular e vamos nos lugares mais próximos do hotel. Minha esposa já usa mais
														quando quer comprar alguma roupa. Então, gosto bastante dos benefícios porque acabo gastando menos do que eu
														imaginava.
													</p>
													<p class="card__depoiment__bold">Sr. Osvaldo</p>
												</div>
											</div>
										</div>
									</div>
								</slide>
								<slide>
									<div class="row px-3">
										<div class="col-12">
											<div class="card card__depoiment">
												<img class="card-img-top" src="../img/icons/amanda.png" alt="Card image cap">
												<div class="card-body">
													<p class="card__depoiment__title">O valor que eu pago para ter acesso ao Clube de Vantagens, compensa muito os gastos que eu tenho no mês.
														Tenho uma economia de pelo menos 25% no meu orçamento com a alimentação fora de casa. Fiquei surpresa com o
														tanto de promoções que tenho acesso, uso sempre que preciso.</p>
													<p class="card__depoiment__bold">Amanda</p>
												</div>
											</div>
										</div>
									</div>
								</slide>
							</slides>

							<pagination></pagination>
						</swiper>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center mt-5 d-none d-md-block">
					<a class="btn btn--lg btn--blue " href="javascript:void(0);">Quero conhecer mais</a>
				</div>
			</div>
		</div>
	</section>

	<section class="lidery__social">
		<div class="lidery__social--bg"></div>
		<img class="img-fluid w-100 lidery__social__oval-top" src="../img/icons/combined-shape-top.png" alt="">
		<img class="img-fluid w-100 lidery__social__oval-bottom" src="../img/icons/combined-shape-bottom.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-md-left">
					<img class="lidery__social__logo" src="../img/icons/lidery-social.png" alt="">
					<img class="lidery__social__logo--social" src="../img/icons/social.png" alt="">
				</div>
				<div class="col-lg-6">
					<h2 class="lidery__social__title">VOCÊ FAZ PARTE DA LIDERY DE DIVERSAS MANEIRAS. UMA DELAS É AJUDANDO QUEM PRECISA.</h2>
					<img class="d-none d-lg-block" src="../img/icons/abrinq.png" alt="">
				</div>
				<div class="col-lg-6">
					<p class="lidery__social__description">Uma parte do valor das contribuições de nossos associados é destinada em acesso à educação, saúde e qualidade de vida
						para milhares de crianças do nosso país. Acreditamos que juntos podemos construir um futuro melhor, sempre!</p>
					<div class="row">
						<div class="col-12 text-center text-md-left">
							<a class="btn btn__outline--white ml-auto" href="#">Mais informações</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="about__us">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto" data-revel="animated fadeInDown">
					<h2 class="about__us__title">Conheça a lidery</h2>
					<h3 class="about__us__description">Conectamos você aos melhores benefícios pra sua vida.</h3>
				</div>
			</div>
			<div class="row" data-revel="animated slideInLeft">
				<div class="col-md-6 p-0">
					<img class="img-fluid w-100" src="../img/vitrines/corp-lidery.png" alt="">
				</div>
				<div class="col-md-6 about__us__paragraph">
					<p>A
						<span class="open-bold">Lidery</span> é uma associação que nasceu com o propósito de ser uma alternativa eficiente e justa para todos que desejam
						soluções em produtos e serviços essenciais. Nossa principal finalidade é oferecer os melhores benefícios aos nossos
						associados. Tudo com a tranquilidade, conforto e bem-estar que você merece.</p>
						<p>Queremos encontrar as melhores soluções para superar os desafios do seu dia a dia. Fazemos isso através do Associativismo,
						que corresponde a união de pessoas para o exercício de uma atividade lícita e sem fins lucrativos, para promoção do
						acesso a benefícios e vantagens exclusivas aos seus participantes.</p>
					<a class="link color--blue" href="#">CONHEÇA MAIS SOBRE A LIDERY </a>
				</div>
			</div>
		</div>
	</section>

	<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto" data-revel="animated fadeInDown">
					<h3 class="faq__subtitle">Faq</h3>
					<h2 class="faq__title">AINDA TEM DÚVIDAS?</h2>
					<h3 class="faq__description">Se liga nas dúvidas frequentes!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="accordion accordeon__lidery" id="accordionExample">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
									 ng-click="openOne = !openOne">
										<span class="icon__arrow" ng-class="{'rotate90': openOne}">
											<i class="fas fa-chevron-right"></i>
										</span>Quem é a lidery?
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
										sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
										craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
										occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
										labore sustainable VHS.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
									 aria-controls="collapseTwo" ng-click="openTwo = !openTwo">
										<span class="icon__arrow" ng-class="{'rotate90': openTwo}">
											<i class="fas fa-chevron-right"></i>
										</span>Por que devo me associar à Lidery?
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
										sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
										craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
										occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
										labore sustainable VHS.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
									 aria-controls="collapseThree" ng-click="openThree = !openThree">
										<span class="icon__arrow" ng-class="{'rotate90': openThree}">
											<i class="fas fa-chevron-right"></i>
										</span>Como faço para ser Lidery?
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
										sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
										craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
										occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
										labore sustainable VHS.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
									 aria-controls="collapseFour" ng-click="openFour = !openFour">
										<span class="icon__arrow" ng-class="{'rotate90': openFour}">
											<i class="fas fa-chevron-right"></i>
										</span>O que é a Taxa de Adesão?
									</button>
								</h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
								<div class="card-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
										sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
										craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
										occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
										labore sustainable VHS.</p>
								</div>
							</div>
						</div>
						<a class="d-block py-4 px-2 link color--blue" href="#">OUTRAS DÙVIDAS</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto" data-revel="animated fadeInDown">
					<h3 class="contact__subtitle">Contato</h3>
					<h2 class="contact__title">VAMOS CONVERSAR?</h2>

					<form>
						<div class="form-row">
							<div class="form-group col-md-6 pr-md-3">
								<label for="nome">Nome</label>
								<input type="text" class="form-control" id="nome">
							</div>

							<div class="form-group col-md-6 pl-md-3">
								<label for="email">E-mail</label>
								<input type="email" class="form-control" id="email">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6 pr-md-3">
								<label for="telefone">Telefone</label>
								<input type="text" class="form-control" id="telefone">
							</div>
							<div class="form-group col-md-6 pl-md-3">
								<label for="assunto">Assunto</label>
								<input type="text" class="form-control" id="assunto">
							</div>
						</div>
						<div class="form-group">
								<label for="mensagem">Mensagem</label>
							<textarea class="form-control" id="mensagem" rows="5"></textarea>
						</div>
						<buttom type="submit" class="btn btn--blue mr-3" href="javascript:void(0);">Enviar</buttom>
					</form>

				</div>
			</div>
		</div>
	</section>

</main>